#favorites-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#subheadings a {
  color: hsl(217, 71%, 53%);
}
#subheadings a:hover {
  color: hsl(204, 86%, 53%);
}
body {
  background-image: url("../images/marvelBackground.jpg");
  background-size: cover;
  background-position: center;
}