#favorites-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#community-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#subheadings a {
  color: hsl(217, 71%, 53%);
}
#subheadings a:hover {
  color: hsl(204, 86%, 53%);
}
body {
  background-image: url("../images/marvelBackground.jpg");
  background-size: cover;
  background-position: center;
}

#team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 10rem;
  padding-left: 10rem;
}

.button
{
  background-color: #1f4cb5;
  color: #90aae8;
}
.button:hover
{
  background-color: #577fde;
  color: #153ea1;
}

#controls
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input
{
  border-color: #108be3;
  border-width: 3px;
  border-style: solid;
}

#results-location
{
  overflow: scroll;
  max-height: 20rem;
  color: #000000;
  background-color: #ffffff;
}

#results li:hover
{
  background-color: #577fde;
  color: #153ea1;
}

#results li
{
  user-select: none;
}